/res/bbf3c1901fec637bf6a9cc208c663c9.png
/res/close.png
/res/live.png
/res/live_select.png
/res/multi0.png
/res/multi1.png
/res/multi_prep.png
/res/next.png
/res/next2.png
/res/ok.png
/res/QQ20241019-045904.png
/res/rm_select.png
/res/st00.png
/res/st10.png
/res/st11.png
/res/st12.png
/res/title.png
/res/vtg.png
/res/0rdm/
/temp/
/log.txt
/__pycache__/
/.idea/
/.fleet/
/tmp.py
/res/QQ20241030-182825.png
